body {
  font-family: Arial, sans-serif;
  padding: 5px;
  text-transform: capitalize;
}
.logo {
  width: 300px;
  height: 50px;
  background: linear-gradient(to right, #fde100 50%, #ffffff 50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  text-align: center;
  color: #f42c2c;
  text-shadow: 2px 2px #000000;
  border-radius: 10px;
  box-shadow: 3px 3px #000000;
  margin: 0;
  margin-left: 30px;
  line-height: 50px;
}
h1 {
  margin-bottom: 20px;
}
nav {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  width: 97%;
  opacity: 0.8;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  color: #ccc;
}
.nav-items{
  font-size: 20px;
  margin-right: 10%;
}
#pokemon{
  margin-top: 5%;
}
#pokemon ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
#pokemon li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 350px;
  box-sizing: border-box;
  overflow: hidden;
}

#pokemon li:hover {
  border-color: #f9f9f9;
  cursor: pointer;
}

 .item-name {
  display: flex;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

 li .item-image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin-top: 10px;
}
#like{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: 30px;
}
.like-button {
  border: none;
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  float: right;
}

 .like-button:hover {
  color: #f42c2c;
}
.like-comment{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.like-comment button{
 margin: 5px;

}
.comments{
  font-size: 16px;
  height: 40px;
  width: 90px;
}
.reservation{
  font-size: 16px;
  width: 110px;
  height: 40px;
}
#type-abilities {
  margin-top: 5%;
  list-style: none;
  padding: 0;
}

#type-abilities li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:28px;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#type-abilities li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pokemon-name {
  font-weight: bold;
}

.pokemon-types,
.pokemon-abilities {
  font-size: 0.8em;
  color: #666;
}

#stats {
  font-size: 28px;
  list-style: none;
  padding: 0;
}

#stats li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#stats li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pokemon-name {
  font-weight: bold;
}

.pokemon-stats {
  font-size: 0.8em;
  color: #666;
}
